body {
  background-color:#F0EDC5;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
}
.fondoRosa {
  width: 100%;
  height: 712px;
  background: rgba(240,147,189,1);
  position: absolute;
  top: 1644px;
  left: 0px;
  overflow: hidden;
}
.imagen1 {
  width: 263px;
  height: 120px;
  background: url("../images/v2_712.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 10px;
  left: 16px;
  overflow: hidden;
}

.sobrenosotros {
  width: 921px;
  color: rgba(121,134,38,1);
  position: absolute;
  top: 328px;
  left: 260px;
  font-family: 'Inter', sans-serif;
  font-weight: Regular;
  text-decoration: none;
  font-size: 24px;
  text-align: left;
  
}

.verderecetas {
  width: 100%;
  height: 527px;
  background: rgba(167,173,59,1);
  position: absolute;
  top: 590px;
  left: 0px;
  overflow: hidden;
}
.botonrecetasrevisar {
  width: 363px;
  height: 54px;
  background: rgba(240, 237, 197, 1);
  position: absolute;
  top: 970px;
  left: 646px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  cursor: pointer; 
  transition: background-color 0.5s ease; 
}

.boton1 {
  width: 311px;
  color: rgba(121, 134, 38, 1);
  position: absolute;
  top: 18px;
  left: 28px;
  font-family: Inter, sans-serif;
  font-weight: Regular;
  font-size: 22px;
  text-align: center;
}

.botonrecetasrevisar a {
  text-decoration: none; 
  display: block; 
  height: 100%; 
}
.botonrecetasrevisar:hover {
  background: rgba(121, 134, 38, 1); 
  border-bottom: 2px solid rgba(255, 252, 252, 1);
}

.botonrecetasrevisar:hover .boton1 {
  color: rgba(240, 237, 197, 1); 
}






.botoninstagramrevisar {
  width: 363px;
  height: 54px;
  background: rgba(204, 74, 91, 1);
  position: absolute;
  top: 2150px;
  left: 67px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  cursor: pointer; 
  transition: background-color 0.5s ease, border-bottom 0.5s ease; 
}

.boton2 {
  width: 311px;
  color: rgba(255, 252, 252, 1);
  position: absolute;
  top: 18px;
  left: 28px;
  font-family: 'Inter', sans-serif;
  font-weight: Regular;
  font-size: 22px;
  text-align: center;
}

.botoninstagramrevisar a {
  text-decoration: none; 
  display: block; 
  height: 100%; 
}

.botoninstagramrevisar:hover {
  background: rgba(240,237,197,1); 
  color:  rgba(240, 237, 197, 1);
  border-bottom: 2px solid rgba(255, 252, 252, 1); 
}

.botoninstagramrevisar:hover .boton2 {
  color: rgba(204, 74, 91, 1); 
}









.titulorecetarios{
  width: 595px;
  color: rgba(240,237,197,1);
  position: absolute;
  top: 680px;
  left: 651px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 79px;
  text-align: left;
}
.tituloinstagram {
  width: 595px;
  color: rgba(204,74,91,1);
  position: absolute;
  top: 1759px;
  left: 77px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 79px;
  text-align: left;
}
.recetariotexto {
  width: 690px;
  color: rgba(255,252,252,1);
  position: absolute;
  top: 811px;
  left: 651px;
  font-family: 'Inter', sans-serif;
  font-weight: Regular;
  font-size: 22px;
  text-align: left;
}
.recetariotexto2 {
  width: 658px;
  color: rgba(255,252,252,1);
  position: absolute;
  top: 877px;
  left: 651px;
  font-family: 'Inter', sans-serif;
  font-weight: Regular;
  font-size: 22px;
  text-align: left;
}
.instagramtexto {
  width: 543px;
  color: rgba(255,252,252,1);
  position: absolute;
  top: 1896px;
  left: 77px;
  font-family: 'Inter', sans-serif;
  font-weight: Regular;
  font-size: 22px;
  text-align: left;
}
.instagramtexto2 {
  width: 543px;
  color: rgba(255,252,252,1);
  position: absolute;
  top: 1992px;
  left: 77px;
  font-family: 'Inter', sans-serif;
  font-weight: Regular;
  font-size: 22px;
  text-align: left;
}
.inicio {
  width: 67px;
  color: rgba(121,134,38,1);
  position: absolute;
  top: 16px;
  left: 997px;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 22px;
  text-align: left;
}
.sobren {
  width: 175px;
  color: rgba(121,134,38,1);
  position: absolute;
  top: 17px;
  left: 1096px;
  font-family: 'Inter', sans-serif;
  font-weight: Regular;
  font-size: 22px;
  text-align: left;
  text-decoration: none;
}
.contacto {
  width: 110px;
  color: rgba(121,134,38,1);
  position: absolute;
  top: 17px;
  left: 1303px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 22px;
  text-align: left;
}
.imagen3 {
  width: 580px;
  height: 620px;
  background: url("../images/v2_1277.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 1691px;
  left: 728px;
  overflow: hidden;
}
.fondorojo {
  width: 100%;
  height: 705px;
  background: rgba(182,29,30,1);
  position: absolute;
  top: 2356px;
  left: 0px;
  overflow: hidden;
}
.tiendas {
  width: 607px;
  color: rgba(240,237,197,1);
  position: absolute;
  top: 2440px;
  left: 715px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 79px;
  text-align: left;
}
.textotienda {
  width: 730px;
  color: rgba(255,252,252,1);
  position: absolute;
  top: 2603px;
  left: 715px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 22px;
  text-align: left;
}
.textotienda2 {
  width: 632px;
  color: rgba(255,252,252,1);
  position: absolute;
  top: 2691px;
  left: 716px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 22px;
  text-align: left;
}
.marcoboton3 {
  width: 241px;
  height: 54px;
  background: rgba(240,237,197,1);
  position: absolute;
  top: 2849px;
  left: 716px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  cursor: pointer; 
  transition: background-color 0.5s ease, border-bottom 0.5s ease; 
}

.boton3 {
  width: 218px;
  color: rgba(182,29,30,1);
  position: absolute;
  top: 18px;
  left: 16px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 22px;
  text-align: center;
}

.marcoboton3 a {
  text-decoration: none;
  display: block;
  height: 100%;
}

.marcoboton3:hover {
  background: rgba(240,147,189,1); 
  border-bottom: 2px solid rgba(255, 252, 252, 1); 
}

.marcoboton3:hover .boton3 {
  color: #ffffff; 
}








.textoproductores {
  width: 629px;
  color: rgba(121,134,38,1);
  position: absolute;
  top: 3266px;
  left: 60px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 22px;
  text-align: left;
}
.productores {
  width: 677px;
  color: rgba(226,8,20,1);
  position: absolute;
  top: 3145px;
  left: 62px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 64px;
  text-align: left;
}
.bordeboton4 {
  width: 303px;
  height: 54px;
  background: rgba(167,173,59,1);
  position: absolute;
  top: 3417px;
  left: 62px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  cursor: pointer; 
  transition: background-color 0.5s ease, border-bottom 0.5s ease; 
}

.boton4 {
  width: 311px;
  color: rgba(240,237,197,1);
  position: absolute;
  top: 18px;
  left: 2px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 22px;
  text-align: center;
}

.bordeboton4 a {
  text-decoration: none;
  display: block;
  height: 100%;
}

.bordeboton4:hover {
  background: rgba(121, 134, 38, 1); 
  border-bottom: 2px solid rgba(255, 252, 252, 1); 
}

.bordeboton4:hover .boton4 {
  color:  rgba(226,8,20,1); 
}




.fondoverdeoscuro {
  width: 100%;
  height: 527px;
  background: rgba(121,134,38,1);
  position: absolute;
  top: 1117px;
  left: 0px;
  overflow: hidden;
}
.bordebotonvideos {
  width: 363px;
  height: 54px;
  background: rgba(240,237,197,1);
  position: absolute;
  top: 1478px;
  left: 73px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.boton5 {
  width: 311px;
  color: rgba(121,134,38,1);
  position: absolute;
  top: 18px;
  left: 28px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 22px;
  text-align: center;
}

.bordebotonvideos a {
  text-decoration: none;
  display: block; 
  height: 100%; 
}

.bordebotonvideos:hover {
  background: rgba(167,173,59,1); 
  border-bottom: 2px solid rgba(255, 252, 252, 1);
}

.bordebotonvideos:hover .boton5 {
  color:  rgba(240,237,197,1); 
}

.videoscocina {
  width: 736px;
  color: rgba(240,237,197,1);
  position: absolute;
  top: 1176px;
  left: 73px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 79px;
  text-align: left;
}
.textovideo {
  width: 620px;
  color: rgba(255,252,252,1);
  position: absolute;
  top: 1374px;
  left: 73px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 22px;
  text-align: left;
}
.imagen4 {
  width: 388px;
  height: 177px;
  background: url("../images/v18_124.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 3603px;
  left: 526px;
  overflow: hidden;
}
.eligebien {
  width: 677px;
  color: rgba(226,8,20,1);
  position: absolute;
  top: 184px;
  left: 382px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 64px;
  text-align: center;
}
.imagen5 {
  width: 578px;
  height: 527px;
  background: url("../images/v2_725.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 590px;
  left: 0px;
  overflow: hidden;
}
.imagen6 {
  width: 710px;
  height: 527px;
  background: url("../images/v12_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 1117px;
  left: 809px;
  overflow: hidden;
}
.imagen7 {
  width: 646px;
  height: 705px;
  background: url("../images/v7_1414.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 2356px;
  left: 0px;
  overflow: hidden;
}
.imagen8 {
  width: 780px;
  height: 504px;
  background: url("../images/v27_80.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 3061px;
  left: 739px;
  overflow: hidden;
}
